@inherits LayoutComponentBase  

<div class="page" style="background: black; color: #fff; font-family: 'Roboto', sans-serif; display: flex; flex-direction: column; height: 100vh;">  

	<NavMenu />

    <article class="app-content" style="flex: 1; padding: 20px; overflow-y: auto;">  
        @Body
        </article>

    <footer class="app-footer" style="background: #1e1e1e; padding: 10px; text-align: center; box-shadow: 0 0 10px #ff0000;">  
        <p style="margin: 0; color: #ff0000;">© 2025 Gym Management</p>  
    </footer>  

 
</div>