@page "/manageEquipment"
<!--@using MySql.Data.MySqlClient
@using MySql.Data-->
<h1>Weather</h1>

<!--To Do
	Add equipment
	Mark equipment as in maintenance/broken
	View equipment in current usage
-->
@code {
}

