@page "/reports"
<!--@using MySql.Data.MySqlClient
@using MySql.Data-->
<h3>Reports</h3>
<!--To Do
	Generate report of monthly revenue
	Generate report for all active members
	Generate report for equipmrnt usage
-->
@code {

}
