@page "/reports"
<!--@using MySql.Data.MySqlClient
@using MySql.Data-->
<h3>Reports</h3>
<!--To Do
		Customer feedfack tracker (feedback from customers with a string of text containing the feedback)
		Equipment Maintenance schedules
		Downtime Analysis
		Total Revenue report (total made from customers - the total costs of the months maintenance)
-->
@code {

}
